## Import Library

In [10]:
pip install pandas

Requirement already satisfied: pandas in c:\users\345d0\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\345d0\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\345d0\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\345d0\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\345d0\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\345d0\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [33]:
import pandas as pd 
import pandas as pd
import avro.schema
from avro.datafile import DataFileWriter
from avro.io import DatumWriter
import json

In [35]:
pataint= pd.read_csv('C:/Users/345d0/Downloads/PATIENTS.csv')
lab= pd.read_csv('C:/Users/345d0/Downloads/LABEVENTS.csv')
dignose=pd.read_csv('C:/Users/345d0/Downloads/DIAGNOSES_ICD.csv')
icustays=pd.read_csv('C:/Users/345d0/Downloads/ICUSTAYS.csv')
admission=pd.read_csv('C:/Users/345d0/Downloads/ADMISSIONS.csv')

In [31]:
icustays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   row_id          136 non-null    int64
 1   subject_id      136 non-null    int64
 2   hadm_id         136 non-null    int64
 3   icustay_id      136 non-null    int64
 4   dbsource        136 non-null    object
 5   first_careunit  136 non-null    object
 6   last_careunit   136 non-null    object
 7   first_wardid    136 non-null    int64
 8   last_wardid     136 non-null    int64
 9   intime          136 non-null    object
 10  outtime         136 non-null    object
 11  los             136 non-null    float64
dtypes: float64(1), int64(6), object(5)
memory usage: 12.9+ KB

In [21]:
dignose.head()

   row_id  subject_id  hadm_id  seq_num icd9_code
0  112344       10006   142345        1     99591
1  112345       10006   142345        2     99662
2  112346       10006   142345        3      5672
3  112347       10006   142345        4     40391
4  112348       10006   142345        5     42731

In [23]:
dignose.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1761 entries, 0 to 1760
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   row_id      1761 non-null   int64
 1   subject_id  1761 non-null   int64
 2   hadm_id     1761 non-null   int64
 3   seq_num     1761 non-null   int64
 4   icd9_code   1761 non-null   object
dtypes: int64(4), object(1)
memory usage: 68.9+ KB

In [29]:
lab.head()

,row_id,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,flag
0,6244563,10006,NaN,50868,2164-09-24 20:21:00,19,19.0,mEq/L,NaN
1,6244564,10006,NaN,50882,2164-09-24 20:21:00,27,27.0,mEq/L,NaN
2,6244565,10006,NaN,50893,2164-09-24 20:21:00,10.0,10.0,mg/dL,NaN
3,6244566,10006,NaN,50902,2164-09-24 20:21:00,97,97.0,mEq/L,NaN
4,6244567,10006,NaN,50912,2164-09-24 20:21:00,7.0,7.0,mg/dL,abnormal

In [26]:
lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76074 entries, 0 to 76073
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   row_id      76074 non-null  int64
 1   subject_id  76074 non-null  int64
 2   hadm_id     61812 non-null  float64
 3   itemid      76074 non-null  int64
 4   charttime   76074 non-null  object
 5   value       76069 non-null  object
 6   valuenum    67030 non-null  float64
 7   valueuom    66669 non-null  object
 8   flag        29737 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 5.2+ MB

In [16]:
pataint.head()

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,9467,10006,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1
1,9472,10011,F,2090-06-05 00:00:00,2126-08-28 00:00:00,2126-08-28 00:00:00,NaN,1
2,9474,10013,F,2038-09-03 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,1
3,9478,10017,F,2075-09-21 00:00:00,2152-09-12 00:00:00,NaN,2152-09-12 00:00:00,1
4,9479,10019,M,2114-06-20 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,1

In [18]:
pataint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       100 non-null    int64
 1   subject_id   100 non-null    int64
 2   gender       100 non-null    object
 3   dob          100 non-null    object
 4   dod          100 non-null    object
 5   dod_hosp     70 non-null     object
 6   dod_ssn      77 non-null     object
 7   expire_flag  100 non-null    int64
dtypes: int64(3), object(5)
memory usage: 6.4+ KB

In [20]:
admission.head()

,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,religion,marital_status,ethnicity,edregtime,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data
0,12258,10006,142345,2164-10-23 21:09:00,2164-11-01 17:15:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,SEPARATED,BLACK/AFRICAN AMERICAN,2164-10-23 16:43:00,2164-10-23 23:00:00,SEPSIS,0,1
1,12263,10011,105331,2126-08-14 22:32:00,2126-08-28 18:59:00,2126-08-28 18:59:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Private,NaN,CATHOLIC,SINGLE,UNKNOWN/NOT SPECIFIED,NaN,NaN,HEPATITIS B,1,1
2,12265,10013,165520,2125-10-04 23:36:00,2125-10-07 15:13:00,2125-10-07 15:13:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,NaN,CATHOLIC,NaN,UNKNOWN/NOT SPECIFIED,NaN,NaN,SEPSIS,1,1
3,12269,10017,199207,2149-05-26 17:19:00,2149-06-03 18:42:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,NaN,CATHOLIC,DIVORCED,WHITE,2149-05-26 12:08:00,2149-05-26 19:45:00,HUMERAL FRACTURE,0,1
4,12270,10019,177759,2163-05-14 20:43:00,2163-05-15 12:00:00,2163-05-15 12:00:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,NaN,CATHOLIC,DIVORCED,WHITE,NaN,NaN,ALCOHOLIC HEPATITIS,1,1

In [11]:
admission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   row_id                129 non-null    int64
 1   subject_id            129 non-null    int64
 2   hadm_id               129 non-null    int64
 3   admittime             129 non-null    object
 4   dischtime             129 non-null    object
 5   deathtime             40 non-null     object
 6   admission_type        129 non-null    object
 7   admission_location    129 non-null    object
 8   discharge_location    129 non-null    object
 9   insurance             129 non-null    object
 10  language              81 non-null     object
 11  religion              128 non-null    object
 12  marital_status        113 non-null    object
 13  ethnicity             129 non-null    object
 14  edregtime             92 non-null     object
 15  edouttime             92 non-null     object
 16  diagnosis             129 non-null    object
 17  hospital_expire_flag  129 non-null    int64
 18  has_chartevents_data  129 non-null    int64
dtypes: int64(5), object(14)
memory usage: 19.3+ KB

## Clean & convert to Avro

In [59]:
!pip install pandas avro-python3

Requirement already satisfied: pandas in c:\users\345d0\anaconda3\lib\site-packages (2.2.2)
Collecting avro-python3
  Downloading avro-python3-1.10.2.tar.gz (38 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy>=1.26.0 in c:\users\345d0\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\345d0\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\345d0\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\345d0\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\345d0\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Building wheels for collected packages: avro-python3
  Building wheel for avro-python3 (setup.py): started
  Building wheel for avro-python3 (setup.py): finished with status 'done'
  Created wheel for avro-python3: filename=avro_python3-1.10.2-py3-none-any.whl size=44036 sha256=19df1cf6d2a63ef21f6579c6b5a0fd288cb3358aae468624b5fe56098efb1d09
  Stored in directory: c:\users\345d0\appdata\local\pip\cache\wheels\df\82\f4\b7126d86d6a404dd59a822fad5f169000deee5f61f7c88580c
Successfully built avro-python3
Installing collected packages: avro-python3
Successfully installed avro-python3-1.10.2

## Patients.csv --> PATIENTS_clean.avro

In [70]:
# Avro schema definition
avro_schema = {
    "type": "record",
    "name": "Patient",
    "fields": [
        {"name": "row_id", "type": ["int", "null"]},
        {"name": "subject_id", "type": ["int", "null"]},
        {"name": "gender", "type": ["string", "null"]},
        {"name": "dob", "type": ["null", {"type": "long", "logicalType": "timestamp-millis"}]},
        {"name": "dod", "type": ["null", {"type": "long", "logicalType": "timestamp-millis"}]},
        {"name": "dod_hosp", "type": ["null", {"type": "long", "logicalType": "timestamp-millis"}]},
        {"name": "dod_ssn", "type": ["null", {"type": "long", "logicalType": "timestamp-millis"}]},
        {"name": "expire_flag", "type": ["int", "null"]}
    ]
}

# Load and clean the data
df = pd.read_csv("C:/Users/345d0/Downloads/PATIENTS.csv")
df = df.drop_duplicates()

# Convert date columns to Timestamp
date_columns = ["dob", "dod", "dod_hosp", "dod_ssn"]
for col in date_columns:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce', unit='ms' if df[col].dtype == 'int64' else None)

# Convert integer columns
for col in ['row_id', 'subject_id', 'expire_flag']:
    if col in df.columns:
        df[col] = df[col].astype('int32')

# Write to Avro file
schema = avro.schema.parse(json.dumps(avro_schema))
with open("E:/iti/Big Data/parquet_data/PATIENTS_clean.avro", "wb") as f:
    writer = DataFileWriter(f, DatumWriter(), schema)
    for _, row in df.iterrows():
        writer.append({
            "row_id": row["row_id"],
            "subject_id": row["subject_id"],
            "gender": row["gender"],
            "dob": None if pd.isna(row["dob"]) else row["dob"].value // 10**6,
            "dod": None if pd.isna(row["dod"]) else row["dod"].value // 10**6,
            "dod_hosp": None if pd.isna(row["dod_hosp"]) else row["dod_hosp"].value // 10**6,
            "dod_ssn": None if pd.isna(row["dod_ssn"]) else row["dod_ssn"].value // 10**6,
            "expire_flag": row["expire_flag"]
        })
    writer.close()

In [72]:
import avro.datafile
import avro.io

with open("E:/iti/Big Data/parquet_data/PATIENTS_clean.avro", "rb") as f:
    reader = avro.datafile.DataFileReader(f, avro.io.DatumReader())
    schema = reader.meta
    print("Avro Schema:")
    print(schema)
    reader.close()

Avro Schema:
{'avro.codec': b'null', 'avro.schema': b'{"type": "record", "name": "Patient", "fields": [{"type": ["int", "null"], "name": "row_id"}, {"type": ["int", "null"], "name": "subject_id"}, {"type": ["string", "null"], "name": "gender"}, {"type": ["null", {"type": "long", "logicalType": "timestamp-millis"}], "name": "dob"}, {"type": ["null", {"type": "long", "logicalType": "timestamp-millis"}], "name": "dod"}, {"type": ["null", {"type": "long", "logicalType": "timestamp-millis"}], "name": "dod_hosp"}, {"type": ["null", {"type": "long", "logicalType": "timestamp-millis"}], "name": "dod_ssn"}, {"type": ["int", "null"], "name": "expire_flag"}]}'}

## ADMISSIONS.csv --> ADMISSIONS.avro

In [6]:
import pandas as pd
import avro.schema
from avro.datafile import DataFileWriter
from avro.io import DatumWriter
import json

# Define Avro schema for ADMISSIONS
avro_schema = {
    "type": "record",
    "name": "Admission",
    "fields": [
        {"name": "row_id", "type": ["int", "null"]},
        {"name": "subject_id", "type": ["int", "null"]},
        {"name": "hadm_id", "type": ["int", "null"]},
        {"name": "admittime", "type": ["null", {"type": "long", "logicalType": "timestamp-millis"}]},
        {"name": "dischtime", "type": ["null", {"type": "long", "logicalType": "timestamp-millis"}]},
        {"name": "deathtime", "type": ["null", {"type": "long", "logicalType": "timestamp-millis"}]},
        {"name": "admission_type", "type": ["string", "null"]},
        {"name": "admission_location", "type": ["string", "null"]},
        {"name": "discharge_location", "type": ["string", "null"]},
        {"name": "insurance", "type": ["string", "null"]},
        {"name": "language", "type": ["string", "null"]},
        {"name": "religion", "type": ["string", "null"]},
        {"name": "marital_status", "type": ["string", "null"]},
        {"name": "ethnicity", "type": ["string", "null"]},
        {"name": "edregtime", "type": ["null", {"type": "long", "logicalType": "timestamp-millis"}]},
        {"name": "edouttime", "type": ["null", {"type": "long", "logicalType": "timestamp-millis"}]},
        {"name": "diagnosis", "type": ["string", "null"]},
        {"name": "hospital_expire_flag", "type": ["int", "null"]},
        {"name": "has_chartevents_data", "type": ["int", "null"]}
    ]
}

# Load and clean the data
df = pd.read_csv("C:/Users/345d0/Downloads/ADMISSIONS.csv")
df = df.drop_duplicates()

# Convert date columns to Timestamp
date_columns = ["admittime", "dischtime", "deathtime", "edregtime", "edouttime"]
for col in date_columns:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce', unit='ms' if df[col].dtype == 'int64' else None)

# Convert integer columns
for col in ['row_id', 'subject_id', 'hadm_id', 'hospital_expire_flag', 'has_chartevents_data']:
    if col in df.columns:
        df[col] = df[col].astype('int32')

# Convert NaN to None for nullable string columns
string_columns = [
    "admission_type", "admission_location", "discharge_location", "insurance",
    "language", "religion", "marital_status", "ethnicity", "diagnosis"
]
for col in string_columns:
    if col in df.columns:
        df[col] = df[col].where(pd.notna(df[col]), None)

# Write to Avro file
schema = avro.schema.parse(json.dumps(avro_schema))
output_path = "E:/iti/Big Data/parquet_data/ADMISSIONS_clean.avro"
with open(output_path, "wb") as f:
    writer = DataFileWriter(f, DatumWriter(), schema)
    for _, row in df.iterrows():
        writer.append({
            "row_id": row["row_id"],
            "subject_id": row["subject_id"],
            "hadm_id": row["hadm_id"],
            "admittime": None if pd.isna(row["admittime"]) else row["admittime"].value // 10**6,
            "dischtime": None if pd.isna(row["dischtime"]) else row["dischtime"].value // 10**6,
            "deathtime": None if pd.isna(row["deathtime"]) else row["deathtime"].value // 10**6,
            "admission_type": row["admission_type"],
            "admission_location": row["admission_location"],
            "discharge_location": row["discharge_location"],
            "insurance": row["insurance"],
            "language": row["language"],
            "religion": row["religion"],
            "marital_status": row["marital_status"],
            "ethnicity": row["ethnicity"],
            "edregtime": None if pd.isna(row["edregtime"]) else row["edregtime"].value // 10**6,
            "edouttime": None if pd.isna(row["edouttime"]) else row["edouttime"].value // 10**6,
            "diagnosis": row["diagnosis"],
            "hospital_expire_flag": row["hospital_expire_flag"],
            "has_chartevents_data": row["has_chartevents_data"]
        })
    writer.close()

# Verify data
print("Data Types:")
print(df.dtypes)
print("\nSample Data:")
print(df.head(5))

Data Types:
row_id                           int32
subject_id                       int32
hadm_id                          int32
admittime               datetime64[ns]
dischtime               datetime64[ns]
deathtime               datetime64[ns]
admission_type                  object
admission_location              object
discharge_location              object
insurance                       object
language                        object
religion                        object
marital_status                  object
ethnicity                       object
edregtime               datetime64[ns]
edouttime               datetime64[ns]
diagnosis                       object
hospital_expire_flag             int32
has_chartevents_data             int32
dtype: object

Sample Data:
   row_id  subject_id  hadm_id           admittime           dischtime  \
0   12258       10006   142345 2164-10-23 21:09:00 2164-11-01 17:15:00
1   12263       10011   105331 2126-08-14 22:32:00 2126-08-28 18:59:00
2   12265       10013   165520 2125-10-04 23:36:00 2125-10-07 15:13:00
3   12269       10017   199207 2149-05-26 17:19:00 2149-06-03 18:42:00
4   12270       10019   177759 2163-05-14 20:43:00 2163-05-15 12:00:00

            deathtime admission_type         admission_location  \
0                 NaT      EMERGENCY       EMERGENCY ROOM ADMIT
1 2126-08-28 18:59:00      EMERGENCY  TRANSFER FROM HOSP/EXTRAM
2 2125-10-07 15:13:00      EMERGENCY  TRANSFER FROM HOSP/EXTRAM
3                 NaT      EMERGENCY       EMERGENCY ROOM ADMIT
4 2163-05-15 12:00:00      EMERGENCY  TRANSFER FROM HOSP/EXTRAM

  discharge_location insurance language  religion marital_status  \
0   HOME HEALTH CARE  Medicare     None  CATHOLIC      SEPARATED
1       DEAD/EXPIRED   Private     None  CATHOLIC         SINGLE
2       DEAD/EXPIRED  Medicare     None  CATHOLIC           None
3                SNF  Medicare     None  CATHOLIC       DIVORCED
4       DEAD/EXPIRED  Medicare     None  CATHOLIC       DIVORCED

                ethnicity           edregtime           edouttime  \
0  BLACK/AFRICAN AMERICAN 2164-10-23 16:43:00 2164-10-23 23:00:00
1   UNKNOWN/NOT SPECIFIED                 NaT                 NaT
2   UNKNOWN/NOT SPECIFIED                 NaT                 NaT
3                   WHITE 2149-05-26 12:08:00 2149-05-26 19:45:00
4                   WHITE                 NaT                 NaT

             diagnosis  hospital_expire_flag  has_chartevents_data
0               SEPSIS                     0                     1
1          HEPATITIS B                     1                     1
2               SEPSIS                     1                     1
3     HUMERAL FRACTURE                     0                     1
4  ALCOHOLIC HEPATITIS                     1                     1

## icustays.csv --> icustays.avro

In [15]:


# Define Avro schema for ICUSTAYS
avro_schema = {
 "type": "record",
 "name": "ICUStay",
 "fields": [
     {"name": "row_id", "type": ["int", "null"]},
     {"name": "subject_id", "type": ["int", "null"]},
     {"name": "hadm_id", "type": ["int", "null"]},
     {"name": "icustay_id", "type": ["int", "null"]},
     {"name": "dbsource", "type": ["string", "null"]},
     {"name": "first_careunit", "type": ["string", "null"]},
     {"name": "last_careunit", "type": ["string", "null"]},
     {"name": "first_wardid", "type": ["int", "null"]},
     {"name": "last_wardid", "type": ["int", "null"]},
     {"name": "intime", "type": ["null", {"type": "long", "logicalType": "timestamp-millis"}]},
     {"name": "outtime", "type": ["null", {"type": "long", "logicalType": "timestamp-millis"}]},
     {"name": "los", "type": ["double", "null"]}
 ]
}

# Load and clean the data
df = pd.read_csv("C:/Users/345d0/Downloads/ICUSTAYS.csv")
df = df.drop_duplicates()

# Convert date columns to Timestamp
date_columns = ["intime", "outtime"]
for col in date_columns:
 if col in df.columns:
     df[col] = pd.to_datetime(df[col], errors='coerce', unit='ms' if df[col].dtype == 'int64' else None)

# Convert integer columns
for col in ['row_id', 'subject_id', 'hadm_id', 'icustay_id', 'first_wardid', 'last_wardid']:
 if col in df.columns:
     df[col] = df[col].astype('int32')

# Convert NaN to None for string columns
string_columns = ["dbsource", "first_careunit", "last_careunit"]
for col in string_columns:
 if col in df.columns:
     df[col] = df[col].where(pd.notna(df[col]), None)

# Write to Avro file
schema = avro.schema.parse(json.dumps(avro_schema))
output_path = "E:/iti/Big Data/parquet_data/ICUSTAYS_clean.avro"
with open(output_path, "wb") as f:
 writer = DataFileWriter(f, DatumWriter(), schema)
 for _, row in df.iterrows():
     writer.append({
         "row_id": row["row_id"],
         "subject_id": row["subject_id"],
         "hadm_id": row["hadm_id"],
         "icustay_id": row["icustay_id"],
         "dbsource": row["dbsource"],
         "first_careunit": row["first_careunit"],
         "last_careunit": row["last_careunit"],
         "first_wardid": row["first_wardid"],
         "last_wardid": row["last_wardid"],
         "intime": None if pd.isna(row["intime"]) else row["intime"].value // 10**6,
         "outtime": None if pd.isna(row["outtime"]) else row["outtime"].value // 10**6,
         "los": row["los"]
     })
 writer.close()

In [17]:
# Verify data
print("Data Types:")
print(df.dtypes)
print("\nSample Data:")
print(df.head(5))

Data Types:
row_id                     int32
subject_id                 int32
hadm_id                    int32
icustay_id                 int32
dbsource                  object
first_careunit            object
last_careunit             object
first_wardid               int32
last_wardid                int32
intime            datetime64[ns]
outtime           datetime64[ns]
los                      float64
dtype: object

Sample Data:
   row_id  subject_id  hadm_id  icustay_id dbsource first_careunit  \
0   12742       10006   142345      206504  carevue           MICU
1   12747       10011   105331      232110  carevue           MICU
2   12749       10013   165520      264446  carevue           MICU
3   12754       10017   199207      204881  carevue            CCU
4   12755       10019   177759      228977  carevue           MICU

  last_careunit  first_wardid  last_wardid              intime  \
0          MICU            52           52 2164-10-23 21:10:15
1          MICU            15           15 2126-08-14 22:34:00
2          MICU            15           15 2125-10-04 23:38:00
3           CCU             7            7 2149-05-29 18:52:29
4          MICU            15           15 2163-05-14 20:43:56

              outtime      los
0 2164-10-25 12:21:07   1.6325
1 2126-08-28 18:59:00  13.8507
2 2125-10-07 15:13:52   2.6499
3 2149-05-31 22:19:17   2.1436
4 2163-05-16 03:47:04   1.2938

## dignose.csv --> dignose.avro

In [26]:


# Define Avro schema for DIAGNOSES_ICD
avro_schema = {
    "type": "record",
    "name": "DiagnosisICD",
    "fields": [
        {"name": "row_id", "type": ["int", "null"]},
        {"name": "subject_id", "type": ["int", "null"]},
        {"name": "hadm_id", "type": ["int", "null"]},
        {"name": "seq_num", "type": ["int", "null"]},
        {"name": "icd9_code", "type": ["string", "null"]}
    ]
}

# Load and clean the data
df = pd.read_csv("C:/Users/345d0/Downloads/DIAGNOSES_ICD.csv")
df = df.drop_duplicates()

# Convert integer columns
for col in ['row_id', 'subject_id', 'hadm_id', 'seq_num']:
    if col in df.columns:
        df[col] = df[col].astype('int32')

# Convert NaN to None for string column
if 'icd9_code' in df.columns:
    df['icd9_code'] = df['icd9_code'].where(pd.notna(df['icd9_code']), None)

# Write to Avro file
schema = avro.schema.parse(json.dumps(avro_schema))
output_path = "E:/iti/Big Data/parquet_data/DIAGNOSES_ICD_clean.avro"
with open(output_path, "wb") as f:
    writer = DataFileWriter(f, DatumWriter(), schema)
    for _, row in df.iterrows():
        writer.append({
            "row_id": row["row_id"],
            "subject_id": row["subject_id"],
            "hadm_id": row["hadm_id"],
            "seq_num": row["seq_num"],
            "icd9_code": row["icd9_code"]
        })
    writer.close()

# Verify data
print("Data Types:")
print(df.dtypes)
print("\nSample Data:")
print(df.head(5))

Data Types:
row_id         int32
subject_id     int32
hadm_id        int32
seq_num        int32
icd9_code     object
dtype: object

Sample Data:
   row_id  subject_id  hadm_id  seq_num icd9_code
0  112344       10006   142345        1     99591
1  112345       10006   142345        2     99662
2  112346       10006   142345        3      5672
3  112347       10006   142345        4     40391
4  112348       10006   142345        5     42731